// This file adds a separate set of fonts for different languages

/* VOA language CSS */
@import 'translations/translationFonts';
@import 'mixins/mixins';

$font__display:      $font__primary--albanian;
$font__primary:      $font__primary--albanian;
$font__secondary:    $font__secondary--albanian;

@include language(albanian);