/* Language fonts */

/*
//courtesy of RFE/RL + Pangea
.armenian
.arabic
.avar
.azeri--latin
.bosnian--latin
.belarusian
.chechen
.dari
.english
.georgian
.kabardian
.kazakh
.kyrgyz
.latin
.macedonian 
.pashto
.persian‎
.romanian
.russian
.tajik--cyrillic
.tatar
.turkmen
.ukrainian
.uzbek--cyrillic
*/


/*
//courtesy of VOA
*/

// Albanian
$font__primary--albanian: Arial, sans-serif;
$font__secondary--albanian: Arial, sans-serif;

// Amharic
$font__primary--amharic: "Nyala", "Geez Unicode", "GF Zemen Unicode", "Arial Unicode MS", Arial, Tahoma, Helvetica, sans-serif;
$font__secondary--amharic: "Nyala", "Geez Unicode", "GF Zemen Unicode", "Arial Unicode MS", Arial, Tahoma, Helvetica, sans-serif;

// Armenian
$font__primary--armenian: Sylfaen, Arial, Helvetica, 'Arial Unicode MS', sans-serif;
$font__secondary--armenian: Sylfaen, Arial, Helvetica, 'Arial Unicode MS', sans-serif;

// Bengali
$font__primary--bengali: Shonar, Vrinda, Arial, Helvetica, sans-serif;
$font__secondary--bengali: Shonar, Vrinda, Arial, Helvetica, sans-serif;

// Burmese
$font__primary--burmese: 'Zawgyi-One-Embedded';
$font__secondary--burmese: 'Zawgyi-One-Embedded';

// Chinese
$font__primary--chinese: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;
$font__secondary--chinese: NSimSun,SimSun,PMingLiU,Arial,Helvetica,"Arial Unicode MS",sans-serif;

// Khmer
$font__primary--khmer: "Khmer OS", Arial, Helvetica, sans-serif;
$font__secondary--khmer: "Khmer OS", Arial, Helvetica, sans-serif;

// Korean
$font__primary--korean: Dotum, Arial,Helvetica,"Arial Unicode MS",sans-serif;
$font__secondary--korean: Dotum, Arial,Helvetica,"Arial Unicode MS",sans-serif;

// Lao
$font__primary--lao: SaysetthaMXRegular,SaysetthaOTRegular;
$font__secondary--lao: SaysetthaMXRegular,SaysetthaOTRegular;

// Persian
$font__primary--persian: Arial,"Arabic Transparent",Helvetica,sans-serif;
$font__secondary--persian: "NassimArabic-Regular",Georgia,Times,"Times New Roman",serif;

// Thai
$font__primary--thai: Arial, sans-serif;
$font__secondary--thai: Arial, sans-serif;

// Tibetan
$font__primary--tibetan: "Microsoft Himalaya", Arial,Helvetica,"Arial Unicode MS",sans-serif;
$font__secondary--tibetan: "Microsoft Himalaya", Arial,Helvetica,"Arial Unicode MS",sans-serif;

// Tigrinya
$font__primary--tigrinya: 'Nyala','Geez Unicode','GF Zemen Unicode','visual Geez Unicode',EthiopiaJiretRegular,Arial,Helvetica,"Arial Unicode MS",sans-serif;
$font__secondary--tigrinya: 'Nyala','Geez Unicode','GF Zemen Unicode','visual Geez Unicode',EthiopiaJiretRegular,Arial,Helvetica,"Arial Unicode MS",sans-serif;
