// Put project-specific CSS here.


.voa__project {

	.voa__section__full-width.landing-page {

		.voa__title-card {

			/* This section will probably change depending on project */
			top: 50px;
			text-align: center;

			@media only screen and (min-height: $media__small) {
				top: 90px;
			}
			@media only screen and (min-height: $media__medium) {
				top: 20%;
			}
			@media only screen and (min-height: $media__large) {
				top: 30%;
			}


			.voa__title {
				text-transform: uppercase;
			}

		}



	}




}